{% extends 'home/base.html' %}

{% block content %}

{%load static %}

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{%static 'images/iitb_logo.png'%}" width="30" height="30" class="d-inline-block align-top" alt="">
    GISE Case Study Portal
  </a>
</nav>
  <div class="container-fluid " style="height:100%;position: fixed;">
      <div class="row h-25">
          <div class="col">
              <div class="row h-100 text-center " >

                <form method="GET" action="#" style="margin: auto;">
         
                    <div class="form-group mt-1">

                      <input  type="text" class="form-control" placeholder="Search by title, description"  name="search_query"
                      {% if search_query %}
                      value = "{{search_query}}"
                      {% endif %}
                      >
                  </div>
                  <div class="input-group" style="display: flex; gap: 2px;justify-content: center;">

                    <div class="form-group">
                      <select class="form-control" name="district" id="district" onchange="fetchdropdown()">
                        <option value="-1">Select District</option>
              
                          {% for district in districts %}
                          <option value="{{district.id}}"
                          {% ifequal sel_district|stringformat:'s' district.id|stringformat:'s' %}
                            selected 
                          {% endifequal %}
                          >{{district.name|lower|capfirst}}</option>
                          {% endfor%}
                      </select>
                    </div>              
               
                    <div class="form-group">
                      <select class="form-control"  name="subdistrict" id="subdistrict">
                        <option value = "-1" >Select Taluka </option>
                      </select>
                    </div>  

       
                  </div>
                   <!-- <div class="input-group bg-secondary" style="margin-top: -20px;"> -->
                    <ul class="ks-cboxtags p-0">
                      {% for key,value in types.items %}
                      <li class="form-check form-check-inline" >
                        <input  class="form-check-input " type="checkbox" id="{{value|lower}}" name = "type" value="{{key}}"
                        {% if key in sel_types %} 
                        checked
                        {% endif %}
                        >
                        <label for="{{value|lower}}">{{value}}</label>
                      </li>
                      {% endfor%}
                    
                    </ul>
                  

                    
                   <!-- </div>     -->
                   <button class="btn btn-light" type="submit"><i class="fas fa-search"></i></button>

                  
              </form>
              </div>
          </div>
      </div>
      <div class="row h-75">
        <div class="col-6  mb-2">
          <div class="row h-100 bg-danger ml-2">
            <div class="col-md-12 listing-block">

              {% if messages %}
              
              {% for message in messages %}
              <div class="container-fluid p-2">
              <div class="alert-success alert-dismissible" role="alert" >
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
              </div>
              </div>
              {% endfor %}
              {% endif %}
              
                {% for post in posts %}
                  <div class="media">
                      <div class="fav-box">
                        <a href="{{ post.document.url }}" class="mb-auto" download><i class="fa fa-download" aria-hidden="true"></i></a>
              
                        
              </div>
                        {% if post.type == 'IMG'%}
                        <img class="d-flex align-self-start" src="{{ post.document.url }}" alt="Image">
                        {% elif post.type == 'DOC' %}
                        <img class="d-flex align-self-start" src="{% static 'images/doc.png' %}" alt="Image">
                        {% elif post.type == 'SHP' %}
                        <img class="d-flex align-self-start" src="{% static 'images/map.png' %}" alt="Image">
                        {% elif post.type == 'CSV' %}
                        <img class="d-flex align-self-start" src="{% static 'images/data.png' %}" alt="Image">
              
                        {% endif %}
                        <div class="media-body pl-3">
                          {% if post.headline %}
                          <div class="price">{{ post.title}}<small>{{post.headline|safe}}</small></div>
                          {% else %}
                          <div class="price">{{ post.title}}<small>{{post.description|safe}}</small></div>
                          {% endif %}
                          <div class="stats">
                            {% for tag in post.tags.all %}
                                      <a href="{% url 'home' %}?tag={{tag.slug}}" class="mr-1 badge badge-info">#{{ tag }}</a>
                              {% endfor %}
                              <!-- <span><i class="fa fa-arrows-alt"></i>1678 Sq ft</span> -->
                              <!-- <span><i class="fa fa-bath"></i>2 Beadrooms</span> -->
                          </div>
                          <div class="address">{{post.published}}</div>
                        </div>
                      </div>
                      {% endfor %}
              
                  </div>
          </div>
        </div>
        <div class="col-6">
          <div id='map' class="row h-100 bg-secondary mr-2"></div>
        </div>
      </div>
  </div>

<!-- ####################################################### -->

    



{% endblock content%}

{% block js %}
<script>

  let $myField = $('.district')
  // $myField.change(function(){
  function fetchdropdown(){
    let $field = {'district_id':document.getElementById("district").value}
      var $endpoint= window.location.href // or localhost/interface
      $.ajax({
          method: "GET",
          url: $endpoint,
          data: $field,
          success: handleFormSuccess,
          error: handleFormError,
      })
  }
  window.onload = fetchdropdown;

  function handleFormSuccess(result){
    $("#subdistrict option").remove();
    if(result.length === 0 ){
      $("#subdistrict").append('<option value = "-1" "">No Taluka Found</option>');
    }
    else{
      for (var i = result.length - 1; i >= 0; i--) {
    
        if("{{sel_subdistrict|stringformat:'s'}}" !== "None" && {{sel_subdistrict}} === result[i].pk)
        $("#subdistrict").append(`<option value="${result[i].pk}" selected>${result[i].fields.name}</option>`);
        else
        $("#subdistrict").append(`<option value="${result[i].pk}">${result[i].fields.name}</option>`);

    };
    }


}

  function handleFormError(jqXHR, textStatus, errorThrown){
      console.log(jqXHR)
      console.log(textStatus)
      console.log(errorThrown)
  }
</script>

<script>
  let geojson = JSON.parse('{{ geojson|safe }}')
var mymap = L.map('map')

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
  maxZoom: 18,
  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  id: 'mapbox/streets-v11',
  tileSize: 512,
  zoomOffset: -1
}).addTo(mymap);

function fillColor(prop){
  if("{{sel_subdist_name}}"){
    if (prop.toLowerCase() === "{{sel_subdist_name}}")
   return "red";
  }
  
   return "gold";
}
function setStyle(feature) {
  return{
    fillColor: fillColor(feature.properties.taluka_nam),
    weight: 2,
    opacity: 1,
    color: 'black',
    dashArray: '2',
    fillOpacity: 0.5
  }
};
  let layer = L.geoJSON(geojson, {
    style: setStyle
  })
  layer.addTo(mymap);
  mymap.fitBounds(layer.getBounds());

  // adding control to download layer
  let download = L.control({position: 'topright'});
  download.onAdd = function (map) {
  let div = L.DomUtil.create('div', 'download-layer');
  {% if district_name%}
  div.innerHTML +=`<a href="{% url 'export-taluka' district_name %}" class="mb-auto"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>`;
  {% else %}
  div.innerHTML +=`<a href="{% url 'export-district' %}" class="mb-auto"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>`;

  {% endif %}
  return div;
};
  download.addTo(mymap);


</script>
{% endblock js %}