{% load static %}
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
    <div class="page-wrapper bg-img-1 p-t-200 p-b-120">
        <div class="wrapper wrapper--w900">
            <div class="card card-4">
                <div class="card-body">
            
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab2">
                            <form method="POST" action="#">
                                <div class="input-group input-group-big">
                                    <label class="label">location:</label>
                                    <input class="input--style-1" type="text" name="location" placeholder="Destination, hotel name" required="required">
                                    <i class="zmdi zmdi-search input-group-symbol"></i>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">driver age:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="driver-age">
                                                    <option>23</option>
                                                    <option>24</option>
                                                    <option selected="selected">25</option>
                                                    <option>26</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">car group:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="car-group">
                                                    <option selected="selected">Group S-car</option>
                                                    <option>Group 1</option>
                                                    <option>Group 2</option>
                                                    <option>Group 3</option>
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              <div class="row row-space">
                                    <div class="col-2 text-center">
                                        <ul class="ks-cboxtags">
                                        <li>
                                            <input type="checkbox" id="checkboxOne" value="Order one">
                                            <label for="checkboxOne">Confirm Order One</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="checkboxTwo" value="Order Two">
                                            <label for="checkboxTwo">Confirm Order Two</label>
                                        </li>
                                        </ul>
                                    </div>
                              </div>
                                <button class="btn-submit m-t-0" type="submit">search</button>
                            </form>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>
