{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Checkbox 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="heading-section mb-5 pb-md-4">Checkbox #03</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5">
						<ul class="ks-cboxtags">
					    <li>
					    	<input type="checkbox" id="checkboxOne" value="Order one">
					    	<label for="checkboxOne">Confirm Order One</label>
					    </li>
					    <li>
					    	<input type="checkbox" id="checkboxTwo" value="Order Two">
					    	<label for="checkboxTwo">Confirm Order Two</label>
					    </li>
					  </ul>
					</div>
				</div>
			</div>
		</section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>