{% extends 'home/base.html' %}

{% block content %}

        {% if messages %}

        {% for message in messages %}
        <div class="container-fluid p-2">
        <div class="alert-success alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        </div>
        {% endfor %}
        {% endif %}

        <div class="container pt-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <select name="district" class="district">
                        <option value="#">Select District</option>
              
                          {% for district in districts %}
                          <option value="{{district.id}}">{{district.name|lower|capfirst}}</option>
                          {% endfor%}
                      </select>
                </div>

                <div class="form-group">
                    <select name="subdistrict" id="subdistrict">
                        <option>Select Taluka </option>
                      </select>
                </div>

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Add title">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" name="description" placeholder="Add description"></textarea>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <input type="text" data-role="tagsinput" class="form-control" name="tags">
                </div>
                <div class="form-group">
                    <label>Document</label>
                    <input type="file" class="form-control" name="document">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% comment %}
            <p>Common Tags: 
            {% for mt in common_tags %}
                <!-- <a href="#" class="badge badge-success">{{mt}}</a> -->
                <a href="{% url 'tagged' mt.slug %}" class="badge badge-success">#{{ mt }}</a>
            {% endfor %}
            </p>
            {% endcomment%}

        </div>    
{% endblock content %}        

{% block js %}
<script>

  let $myField = $('.district')
  $myField.change(function(){
    let $field = {'district_id':$(this).val()}
      var $endpoint= window.location.href // or localhost/interface
      $.ajax({
          method: "GET",
          url: $endpoint,
          data: $field,
          success: handleFormSuccess,
          error: handleFormError,
      })
  })

  function handleFormSuccess(result){
    $("#subdistrict option").remove();
    if(result.length === 0 ){
      $("#subdistrict").append('<option >No Taluka Found</option>');
    }
    else{
      for (var i = result.length - 1; i >= 0; i--) {
        $("#subdistrict").append(`<option value="${result[i].pk}">${result[i].fields.name}</option>`);
    };
    }


}

  function handleFormError(jqXHR, textStatus, errorThrown){
      console.log(jqXHR)
      console.log(textStatus)
      console.log(errorThrown)
  }
</script>
{% endblock js %}




