label {
  display: inline-block;
  margin-bottom: 0.5rem; }

  ul.ks-cboxtags {
      list-style: none;
      padding: 20px; }
      ul.ks-cboxtags li {
        display: inline; }
        ul.ks-cboxtags li label {
          display: inline-block;
          background-color: rgba(255, 255, 255, 0.9);
          border: 1px solid rgba(139, 139, 139, 0.3);
          color: #adadad;
          border-radius: 25px;
          white-space: nowrap;
          margin: 3px 0px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-tap-highlight-color: transparent;
          -webkit-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s;
          font-weight: 400; }
    
    ul.ks-cboxtags li label {
      padding: 8px 12px;
      cursor: pointer; }
      ul.ks-cboxtags li label::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "FontAwesome";
        font-weight: 400;
        font-size: 12px;
        padding: 2px 6px 2px 2px;
        content: "\f067";
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: -webkit-transform .3s ease-in-out;
        -o-transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
    
    ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
      content: "\f00c";
      -webkit-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      transform: rotate(-360deg);
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition: -webkit-transform .3s ease-in-out;
      -o-transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
    
    ul.ks-cboxtags li input[type="checkbox"]:checked + label {
      border: 1px solid #fec771;
      background-color: #fec771;
      color: #fff;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
    
    ul.ks-cboxtags li input[type="checkbox"] {
      display: absolute; }
    
    ul.ks-cboxtags li input[type="checkbox"] {
      position: absolute;
      opacity: 0; }
    